albumentations
comet_ml
coremltools
Flask
ipython
matplotlib
mss
nncf
numpy
onnx
onnxruntime
onnxsim
openvino
pafy
pandas
Pillow
psutil
pycocotools
python-dotenv
PyYAML
Requests
scipy
seaborn
setuptools
tensorflow
tensorflow_intel
tensorflowjs
tensorrt
thop
torch
torchvision
tqdm
tritonclient
ultralytics
whisper_live
x2paddle
pyttsx3